body, button {
	color: #fff;
	font-family: Verdana;
}
#game {
	width: 400px;
	height: 400px;
	background-image:url('../images/background.png');
	border: solid 30px #001a00;
	-webkit-border-image: url('../images/border.png') 50 round; /* Safari 3.1-5 */
    -o-border-image: url('../images/border.png') 50 round; /* Opera 11-12.1 */
    border-image: url('../images/border.png') 50 round;
}

#controls {
	position:absolute;
	left: 150px;
	top: 240px;
	font-size: 10px;
	line-height:10px;
}

button {
	position:absolute;
	left: 175px;
	width:120px;
	height:40px;
	z-index:5;
	border-radius: 10px;
	font-size: 14px;
	font-weight:bold;
	text-decoration: none;	
	background-color: #6aa63f;
	border-bottom: 2px solid #669644;
	text-shadow: 0px -2px #669644;
} 

#bstart, #bgstart {
	top: 170px;
}

#bgscores {
	top: 220px;
	display: none;
}

#pagain {
	position: absolute;
	top: 370px;
}

#name {
	position:absolute;
	left: 130px;
	top: 100px;
}

#high-scores {
	text-align:center;
	padding-top: 10px;
}

#scores {
	overflow: auto;
	position:relative;
	left:10%;
	width: 80%;
	height:300px;
	margin-bottom: 10px;
}

#scorestable { 
	margin-top: 10px;
	border-collapse: collapse;
	width:100%;
	padding:5px;
}

caption {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
}

tr {
	border-top: 1px solid #fff;
	color:#18250e;
}

tr:hover td {
	background:#538131;
	color:#FFFFFF;
	border-top: 1px solid #22262e;
	border-bottom: 1px solid #22262e;
}

td {
	padding:10px;
	text-align:left;
	vertical-align:middle;
	font-size:16px;
	background:#add590;
	text-align:left;
	vertical-align:middle;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
}